.container {
    width: 1366px;
    height: 768px;
    background-image: url("../images/background.png");
    font-family: Verdana sans-serif;
}

header {
    height: 94px;
}

a.logoimg {
    background: url("../images/logo1.png");
    width: 46px;
    height: 44px;
    float: left;
}

a.logoimg:hover {
    background: url("../images/logo2.png")
}

.logo {
    text-transform: uppercase;
    height: 48px;
    width: 153px;
    float: left;
    margin-left: 155px;
    margin-top: 49px;
    position: relative;
}

.logo .bigtext {
    font-family: Verdana sans-serif;
    line-height: 20px;
    font-size: 29px;
    font-weight: 700;
    position: absolute;
    right: 0;
    top: 0;
}

.logo .smalltext {
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    right: 4px;
}

.logo a {
    text-decoration: none;
    color: #ffffff;
}

.logo a:hover {
    color: #f26522;
}

.textright {
    font-size: 18px;
    font-weight: 400;
    line-height: 2px;
    text-align: right;
    color: #ffffff;
    float: right;
    padding-right: 149px;
    padding-top: 48px;
}

.floatclear {
    display: block;
    clear: both;
}

section {
    text-align: center;
    height: 540px;
    padding-top: 49px;
    padding-left: 157px;
    position: relative;
}

.pictureleft {
    float: left;
    text-align: center;
    margin: 0 69px 58px 0;
    display: block;
}
.pictureleft img{

    border: 2px solid;
    border-image: linear-gradient(0grad, #000000, #ffffff) 1 100%;
    border-image-slice: 1;
}

.pictureleft a {
    text-decoration: none;
    color: #ffffff;
}

.piccomment {
    font-size: 18px;
    font-weight: 400;
    display: block;
    line-height: 0.7;
}

.pop_up_block {
    width: 312px;
    height: 63px;
    background-color: #f26522;
    color: white;
    position: absolute;
    top: 189px;
    padding: 0;
    display: none;
}

.pictureleft:hover .pop_up_block {
    display: block;
}

.pictureleft a:hover {
    color: #f26522;
}

section .pictureleft:nth-child(4):hover .pop_up_block {
    top: 480px;
}

section .pictureleft:nth-child(5):hover .pop_up_block {
    top: 481px;
}

section .pictureleft:nth-child(6):hover .pop_up_block {
    top: 481px;
}

.pop_up_block p {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.pic_textleft {
    float: left;
    height: 30px;
    width: 38px;
    text-align: left;
    margin-left: 21px;
    margin-top: 13px;
}

.pic_textleft p:nth-child(1) {
    font-size: 10px;
    font-weight: 400;
}

.pic_textleft p:nth-child(2) {
    font-size: 20px;
    font-weight: 400;
}

.pic_textrigth {
    float: right;
    width: 120px;
    height: 30px;
    text-align: right;
}

.pic_textrigth p:nth-child(1) {
    font-size: 14px;
    font-weight: 400;
}

.pic_textrigth p:nth-child(2) {
    font-size: 12px;
    margin-left: 18px;
    margin-right: 15px;
    margin-top: 38px;
}

footer p {
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 0;
}

